<h1>This is the dashboard page for each user</h1>


<p>id {{User._id}}</p>
<p>firstName {{User.firstName}}</p>
<p>lastName {{User.lastName}}</p>
<p>email {{User.email}}</p>
<p>username {{User.username}}</p>


<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout</a></li>